<h1>FBA Inventory</h1>
	<%= form_tag(amz_inventory_events_path, method: :get) do %>
    <%= select_tag :origin, options_for_select(["Amazon US", "Amazon Canada","Amazon UK","Amazon UK"], @origin) %>
    <%= submit_tag "Select Country",class: "btn" %>
<% end %>
<%= link_to "Create New Shipping Plan", new_shipping_plan_events_path(origin: @origin) %>
<%= render "amz_table", origin: @origin %>
