<%= form_for @event, :url => create_shipping_plan_events_path do |f| %>
		<p>
		<%= f.hidden_field :event_type, value: @event.event_type %>
	</p>
	<% n=1 %>
	<h2>Kits to Send</h2>
	<%= f.fields_for(:product_counts, :html => { :class => "form-inline"}) do |builder| %>
	<%= render "product_count_fields", f: builder, show_offer: @show_offer %>
	<% end %>
<p><%= link_to_add_fields "Add Product", f, :product_counts, @show_offer %></p>
<div class="actions">
	<%= f.submit "Save" %>
</div>
	<% end %>
	
	<script>
$(function() {
	 $( ".autocomplete_sup" ).autocomplete({
			source: $( ".autocomplete_sup" ).data('autocomplete-source')
	});
});

</script>
