<style>
  body{width:1600px;}
  table.barby-barcode { 
    border-spacing: 0; 
    width:370px;
    height:39px;
  }
  tr.barby-row {}
  td.barby-cell {}
  td.barby-cell.on { background: #000; }
  .product_label {
    height:172px;
    width:513px;
    border:0;
    padding:10px;
    font: 26px sans-serif;
    float:left;
    margin:0;
    page-break-before:always;
  }
  #line_items {
    page-break-before: always;
  }
  .truncate {
  width: 460px;
  font: 26px sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin:0;
  line-height:22px;
  font-stretch:extra-condensed;
}
.new {
  font: 26px sans-serif;
  margin:0;
  line-height:22px;
}
</style>

<% @items.each do |item| %>
<% (1..item[1]["Quantity"]).to_a.each do |i| %>
<div class="product_label">
  <div style="float:left;margin-bottom:20px"><%= item[1]["barcode"].to_html.html_safe %>
  <div style="text-align:center;font-size:21px"><%= item[1]["FNSKU"] %></div>
  </div>
  <div style="width:100%;float:left;margin:0;padding:0"><p class="truncate"><%= item[1]["Name"] %></p>
<p class="new">New</p></div>
</div>
<% end %>
<% end %>