<div class="field">
	Name:<br />
	<%= f.text_field :name %>
</div>
<div class="field">
	Description:<br />
	<%= f.text_area :description, size: "10x4" %>
</div>
<div class="field">
	Quantity per Box<br/>
	<%= f.text_field :per_box %>
</div>
<div class="field">
	Product Image<br/>
	<%= f.text_field :imloc, class: "imname" %><br>
</div>

