<div class="field">
	<%= f.label :name %>
	<%= f.text_field :name %>
</div>
<div class="field">
	<%= f.label :sku %>
	<%= f.text_field :sku %>
</div>
<div class="field">
	<%= f.label :description %>
	<%= f.text_area :description, size: "10x4" %>
</div>
<div class="field">
	<%= f.label :per_box, "Quantity per Box" %>
	<%= f.text_field :per_box %>
</div>
<div class="field">
	<%= f.label :imloc, "Image Location" %>
	<%= f.text_field :imloc, class: "imname" %><br>
</div>
<div class="field">
	<%= f.label :weight_lbs, "Weight(lbs)" %>
	<%= f.text_field :weight %><br>
</div>
<div class="field">
	<%= f.label :price, "Retail Price" %>
	<%= f.text_field :price %><br>
</div>
<div class="field">
	<%= f.check_box :display,{:checked => (f.object.new_record? ? true : f.object.display)} %> Show In Inventory
</div>

<%= f.fields_for(:supplier_prices, :html => { :class => "form-inline"}) do |builder| %>
	<%= render "supplier_price_fields", :f => builder, show_offer: false %>
<% end %>
/* <p><%= link_to_add_fields "Add Supplier Price", f, :supplier_prices, false %></p> */

